wheel
nbresult
ipdb
ipykernel
numpy==1.23.5
pandas==1.5.3
scipy==1.10.0
google-cloud-storage
db-dtypes

# prevent bq 3+ db-dtypes package error when running training from bq

python-dotenv

# API
fastapi
uvicorn
streamlit
requests

