# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
colorama

# data science
numpy
pandas
scikit-learn
transformers
tensorflow
tensorflow_addons
neattext

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs
streamlit
uvicorn
FastAPI

# utilities
six>=1.14
joblib
memoized-property
termcolor
